@model ExpenseManager.Models.ExpenseModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Usuń</h1>

<h3>Czy na pewno chcesz usunąć wydatek?</h3>
<div>
    
    <hr />
    <dl class="row">
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-10">
            @Enum.GetName(typeof(Categories), (this.Model.Category))
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="usuń" class="btn btn-danger" /> |
        <a asp-action="Index">Powrót</a>
    </form>
</div>
